.node {
    height: 1.5rem;
    width: 1.5rem;
    border: .5px solid lightgray;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;

    &__start {
        // background-color: green;
        //content: '1';
        background-image: url('../../airplane.png');
        background-size: cover;
    }

    &__finish {
        // background-color: red;
        background-image: url('../../end-point.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        // &::before {
        //     content: '2';
            
        // }
        
    }

    &__visited {
        background-color: blue;
    }

    &__path {
        background-color: yellow;
    }
    
    &__barrier {
        background-color: black;
        // background-image: url('../../asteroid.jpeg');
        // background-size: cover;
    }

    &__visited {
        animation-name: visitedAnimation;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
      }
      
      @keyframes visitedAnimation {
        0% {
          transform: scale(0.3);
          background-color: #ffbc42;
          border-radius: 100%;
        }
      
        50% {
          background-color: #d81159;
        }
      
        75% {
          transform: scale(1.2);
          background-color: #8f2d56;
        }
      
        100% {
          transform: scale(1);
          background-color: #218380;
        }
      }
      
      &__barrier {
        background-color: rgb(12, 53, 71);
      }
      
      &__path {
        animation-name: shortestPath;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
        background-image: url('../../airplane.png');
      }
      
      @keyframes shortestPath {
        0% {
          transform: scale(0.6);
          background-color: rgb(255, 254, 106);
        }
      
        50% {
          transform: scale(1.2);
          background-color: rgb(255, 254, 106);
        }
      
        100% {
          transform: scale(1);
          background-color: rgb(255, 254, 106);
        }
      }
      
}