.node {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;

    &__start {
        background-color: green;
        content: '1';
    }

    &__finish {
        background-color: red;
        &::before {
            content: '2';
        }
        
    }

    &__visited {
        background-color: blue;
    }

    &__path {
        background-color: yellow;
    }
    
    &__barrier {
        background-color: black;
    }
}