@font-face {
    font-family: 'Gemunu';
    src: url(../assets/fonts/woff2/GemunuLibre-Light.woff2),
        url(../assets/fonts/woff/GemunuLibre-Light.woff),
        url(../assets/fonts/ttf/GemunuLibre-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Gemunu';
    src: url(../assets/fonts/woff2/GemunuLibre-Medium.woff2),
        url(../assets/fonts/woff/GemunuLibre-Medium.woff),
        url(../assets/fonts/ttf/GemunuLibre-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Gemunu';
    src: url(../assets/fonts/woff2/GemunuLibre-Bold.woff2),
        url(../assets/fonts/woff/GemunuLibre-Bold.woff),
        url(../assets/fonts/ttf/GemunuLibre-Bold.ttf);
    font-weight: 700;
}