@use '../../styles/mixins' as *;

.header {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: baseline;

    &__title {
        @include header-text;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 2rem;
    }

    &__link {
        @include subheader-text;
        display: flex;
        justify-content: center;
        margin-right: 2rem;
        width: 5rem;

        &:hover {
            border-bottom: .5rem solid black;
        }

    }
    
}